<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs")  %> 
<body>
    <%- include("./partials/nav.ejs")  %> 

    <div class="blogs content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio, molestiae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, quaerat.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, praesentium!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, quibusdam.</p>
    </div>
    <%- include("./partials/foot.ejs")  %> 
</body>
</html>