<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head2.ejs")  %> 
<body>
    <h1 class="text-success">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, porro.</h1>
</body>
</html>